@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background:#050505;
  color:white;
  font-family:system-ui;
}

section{
  border-bottom:1px solid #111;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-mesh {
  background: linear-gradient(
    -45deg,
    #020617,
    #020617,
    #0f172a,
    #020617,
    #111827
  );
  background-size: 300% 300%;
  animation: gradientMove 18s ease infinite;
}
@keyframes textGradient {
  0% { background-position: 0% }
  50% { background-position: 100% }
  100% { background-position: 0% }
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #22c55e,
    #38bdf8,
    #22c55e
  );
  background-size: 200%;
  animation: textGradient 6s linear infinite;
  -webkit-bg-clip: text;
  -webkit-text-fill-color: transparent;
}